<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172995413609-tnr2um8idjutcguuevtbcga5m1o8d9qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172995413609-tnr2um8idjutcguuevtbcga5m1o8d9qi</string>
	<key>API_KEY</key>
	<string>AIzaSyBT26i7wousVmYOU5IvkcBlxQBWwX6vCn4</string>
	<key>GCM_SENDER_ID</key>
	<string>172995413609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>karon.tradingscrore.tradingscrore</string>
	<key>PROJECT_ID</key>
	<string>secondproject-5e109</string>
	<key>STORAGE_BUCKET</key>
	<string>secondproject-5e109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172995413609:ios:01f7353645abc8e6f804f8</string>
</dict>
</plist>